body {
    background: linear-gradient(180deg, #B02A2A 0%, #A11B1B 15.94%, rgba(255, 52, 52, 0.13) 100%);
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    width: 1440px;
    height: 1024px;
    flex: auto;
}

header {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 1rem;
}

.Groovy, .search, .library {
    fill: #E7FFDE;
    width: 2rem;
    height: 2rem;
}

.Groovy {
    margin-left: 1rem;
    margin-top: 1rem;
}

.library {
    float: right;
    margin-right: 1rem;
}

.search {
    float: left;
    margin-right: 0.5rem;
}

.imagen_puta {
    max-width: 100%;
    height: auto;
    margin: 1rem;
}

.titulo {
    color: #FFF;
    font-size: 2rem;
    margin-left: 1rem;
}

.texto {
    color: #F6F6F6;
    font-size: 1rem;
    margin-left: 1rem;
}

.boton {
    background: #000;
    color: #FFF;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 1rem;
}

.boton:hover {
    background-color: #FFF;
    color: #000;
}

