body {
    width: 1440px;
    height: 1024px;
    background: linear-gradient(180deg, #B02A2A 0%, #A11B1B 15.94%, rgba(255, 52, 52, 0.13) 100%), url(/img/pexels-philip-boakye-2614384-removebg-preview\ 1.svg) lightgray -66px -172px / 110.123% 119.006% no-repeat;
    box-shadow: 0px 4px 4px 0px #710000;
    background-color: black;
}


header{
    display: flex;
    justify-content: space-between;

    margin-top: 45px;
}
.Groovy .search .library{
    display: flex;
    fill: #E7FFDE;
}
.Groovy{
    margin-top: 48px;
    margin-left: 62px;
}
.library{
float: right;
height: 36px;
width: 36px;
margin-top: 45px;
margin-right: 70px;
}
.search{
float: left;
margin-top: 45px;
height: 35px;
width: 35px;
margin-right: 20px;
}
.imagen_puta{
    position: absolute;
    top: 100px;
    left: 0;
    height: auto;
    width: 100%;
}